<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Social Media Links-->
    <meta property="og:image" content="http://blockchaincareerfair.io/img/prev2.jpg"/>
    <meta property="og:image:width" content="2160"/>
    <meta property="og:image:height" content="2160"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Blockchain Career Fair Livestream"/>
    <meta property="og:description"
          content="The 1st Ever Blockchain Career Fair in Silicon Valley. April 18th 3pm-7:30pm"/>
    <meta property="og:url" content="blockchaincareerfair.io"/>

    <title>test</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="../css/elegant-icons.min.css" media="all" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<!-- NAVIGATION BAR -->
<div id="header" class="header sticky" style="background-color: black">
    <a href="../">
        <img src="../img/BCF.png" class="nav-logo" alt="">
    </a>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li id="navbar_home" class="navlink"><a href="../">Home</a></li>
        </ul>
    </div>
</div>

<section id="media" class="">
    <div class="container">
        <h2 class="text-center thin-header" style="color: black">
            <i class="fa fa-facebook-square" style="display: inline-block; color: darkblue"></i>
            Livestream</h2>
        <hr>

        <div class="tierbtn" id="sponsors" style="padding: 0">
            <div>
                <a data-mode="2" target="_blank" :class="sponsors[0]"
                   href="https://www.facebook.com/CryptoParency/">
                    <i class="fa fa-link" style="padding-top: 2.5em"></i>
                </a>
            </div>
            <div></div>
            <div class="">
                <a data-mode="2" target="_blank" :class="sponsors[1]" href="https://www.facebook.com/dekryptcapital/">
                    <i class="fa fa-link" style="padding-top: 2.5em"></i>
                </a>
            </div>
        </div>
        <div class="wrapper" id="sponsors" style="padding: 0">
            <div class="text-center">
                <h4 class="thin-header3">SCHEDULE</h4>
                <hr>
                <template v-for="time in cctimes">
                    <p>{{time}}</p>
                </template>
            </div>
            <div class="text-center">
                <h4 class="thin-header3">.</h4>
                <hr>
                <template v-for="time in times">
                    <p>{{time}} PM</p>
                </template>
            </div>
            <div class="text-center">
                <h4 class="thin-header3">SCHEDULE</h4>
                <hr>
                <template v-for="time in dctimes">
                    <p>{{time}}</p>
                </template>
            </div>
        </div>
    </div>
</section>
</body>
<script src="../js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script async defer src="mediaApp.js"></script>
</html>

<style>
    .wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
    }

    /*
    @media only screen and (min-width: 768px) {
        .wrapper {
            display: grid;
            grid-template-columns: 100%;
        }
    } */

    .tierbtn {
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        text-align: center;
        margin: 0 auto;
    }

    .tierbtn a {
        display: inline-block;
        height: 100px;
        width: 200px;
        margin: 0 auto !important;
    }

</style>

<!-- http://localhost:63342/BCFwebsite/videos/index.html -->
